@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@0,300;0,400;0,900;1,300 & display=swap');


body {
    background-color: rgb(11, 109, 11);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;  
    font-family: 'Lato', sans-serif; 
}

#emb-header {
    margin-top: 1px;
}

#wrapper{
    text-align: right;
}

#music{
    font-size: 15px;
    border-radius: 5px;
}

#title1{
    color: white;
    font-size: 5rem;
    animation: title 2s infinte;
    background-color: rgb(128, 168, 128);
    animation-delay: 1s;
    
}

@keyframes title {
    from {
        
        
        color: white;
    }
    
    to {
        color: rgb(244, 233, 22);
        
    }
}

.container {
    text-align: center;
    
}

h1{
    font-size: 40px;
}

#btn-fetch {
    font-size: 15px;
    border-radius: 5px;
}

#btn-pegar {
    font-size: 15px;
    border-radius: 5px;
}

#parabens {
    font-size: 25px;
    animation: parabens 2s infinite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes parabens {
    
    from {
        color: white;
        font-size: 1.5rem;
    }

    to {
        color: rgb(246, 246, 9);
        font-size: 3rem;
    }
}

button {
    cursor: pointer;
}