@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@0,300;0,400;0,900;1,300 & display=swap');


body {
    background-color: rgb(11, 109, 11);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;  
    font-family: 'Lato', sans-serif;
    
}

h1{
    font-size: 40px;
}

#btn-fetch {
    width: 20%;
}

