@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@0,300;0,400;0,900;1,300 & display=swap');


body {
    background-color: rgb(11, 109, 11);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;  
    font-family: 'Lato', sans-serif; 
}

#emb-header {
    margin-top: 1px;
}

#wrapper{
    text-align: right;
}

#music{
    font-size: 15px;
    border-radius: 5px;
}

#title1{
    color: white;
    font-size: 5rem;
    animation: title 2s linear;
    background-color: rgb(128, 168, 128);
    animation-delay: 1s;
    
}

@keyframes title {
    10% {
        font-size: 10%;
        background-color: rgb(128, 168, 128);
        color: white;
    }
    
    100% {
        font-size: 100%;
        
    }
}

.container {
    text-align: center;
    
}

h1{
    font-size: 40px;
}

#btn-fetch {
    font-size: 15px;
    border-radius: 5px;
}

#btn-pegar {
    font-size: 15px;
    border-radius: 5px;
}

#parabens {
    font-size: 25%;
    animation: parabens 2s infinite;
}

@keyframes parabens {
    
    from {
        color: white;
    }

    to {
        color: rgb(246, 246, 9);
    }
}

button {
    cursor: pointer;
}